@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --corpo: #f1f1f1;
    --cor-destaque: #7A1113;
    --cor-des-sec: #62CF80;
    --texto: #000000;
    --texto-sec: #ffffff;
}


body.escuro {
    --corpo:#222222;
    --cor-destaque: #62CF80;
    --cor-des-sec: #7A1113;
    --texto: #ffffff;
    --texto-sec: #111111;
}

body {
    background-color: var(--corpo);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--texto);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

header button.redirect-button {
    padding: 6px;
    border: none;
    background-color: var(--cor-destaque);
    color: var(--texto-sec);
    font-size: 1.1em;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.327);
}

header button.redirect-button:hover {
    cursor: pointer;
    background-color: var(--cor-des-sec);
    color: var(--cor-destaque);
    transform: scale(1.05, 1.05);
    transition: 0.2s ease;
}

header button.dark-mode {
    padding: 6px;
    border: none;
    background-color: var(--cor-destaque);
    color: var(--texto-sec);
    font-size: 1.5em;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.322);
}

header button.dark-mode:hover {
    cursor: pointer;
    background-color: var(--cor-des-sec);
    color: var(--cor-destaque);
    transform: scale(1.05, 1.05);
    transition: 0.2s ease;
}

main {
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--texto);
    text-align: center;
    margin-bottom: 20px;
}

ul.changelog {
    position: relative;
    display: flex;
    flex-flow: column-reverse wrap;
    padding: 20px;
    list-style: none;
}

ul.changelog::before {
    position: absolute;
    content: "";
    background-color: var(--cor-destaque);
    width: 2px;
    height: 100%;
}

ul.changelog li.changelog-itens {
    position: relative;
    margin-left: 20px;
    margin-bottom: 20px;
}

ul.changelog li.changelog-itens::before {
    content: "";
    position: absolute;
    background-color: var(--cor-destaque);
    border-radius: 50%;
    top: 0;
    left: -34px;
    height: 30px;
    width: 30px;
}

li.changelog-itens h2.data {
    color: var(--cor-destaque);
}