body {
    background-color: brown;
    color: white;
    font: normal 1.5em Arial;
}

div.bota {
    display: block;
    padding: 200px;
}

p.gradient-text {
    background: linear-gradient(to right, #ff0000, #ffff00);
    -webkit-background-clip: text; /* necessário para navegadores baseados em WebKit */
    -webkit-text-fill-color: transparent; /* deixa o texto transparente para mostrar o fundo */
}
