@charset "UTF-8";

::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;
    position: relative;
    font: normal 1.3em Arial, Helvetica, sans-serif;
}

main {
    background-color: brown;
    color: white;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}